body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  
  .ktp {
    height: 280px;
    width: 450px;
    margin: 50px auto;
    background: url('img/ktpPolos.jpg');
    background-size: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 11px;
  }
  
  .ktp-header {
    text-align: center;
    margin: 10px;
    font-size: 12px;
    letter-spacing: 1px;

  }

  h2{
    line-height: 5px;
  }


  .NIK{
    list-style: none;
    letter-spacing: 5px
  }

  .Ktp-Alamat{
    margin-left: 20px;
  }

  .foto {
    position: sticky;

  }
  
  .ktp-body ul {
    line-height: 11px;
    list-style: none;
    padding: 0;
    float: left; 
  }
  
  .ktp-body ul li {
    margin-bottom: 3px;
  }
  
  .ktp-body ul li strong {
    display: inline-block;
    width: 110px;
  }
  

 
